<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0qm0PU9jrSdAIefpSGbDdzWRerHFry5U"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">


        <div id="profile">
          <!-- handlebars template -->
          <script id="profile-template" type="text/x-handlebars-template">
            <h1>Christine Lam Profile
              <hr>
            </h1>
            {{#each profile}}
            <div class="row">
              <div class="col-md-4 col-md-offset-1">
                  <img src="{{github_profile_image}}">
              </div>
              <div class="col-md-4 col-md-offset-2 info">
                <p><strong> Name: </strong> {{first_name}} {{last_name}} <br>
                  <strong> Github Link: </strong> <a href="{{github_link}}">{{github_link}}</a> <br>
                  <strong> Github Profile Image: </strong> See above <br>
                  <strong> Current City: </strong> {{current_city}} <br>

                  <strong> Stuffed Animals: </strong>
                    {{#each stuffed_animals}}
                      <p><em> Name: </em> {{name}} <br>
                        <em> Type: </em> {{type}} <br>
                        <em> Color: </em> {{color}} <br>
                      </p>
                    {{/each}}

                  <h4><a href="/api">Read My API Documentation</a></h4>
                </p>
              </div>
            </div>
            {{/each}}
          </script>
        </div>
      </div>

        <div class="row">
          <h1>Travels!<hr></h1>
          <div class="col-md-8 col-md-offset-2">
            <div id="map"><h1>

              insert MAP</h1>

            </div>
          </div>
        </div>

        <div id="travels">
              <div class="row">
                <div id="test">

                    <script id="travel-template" type="text/x-handlebars-template">
                      <div class="col-md-4">
                  <p>Places I've Visited</p>
                  {{#each travels}}
                  <ul><li>City:{{location_city}} <br>
                        Country: {{location_country}} <br>
                        Duration: {{duration}}
                  </li></ul>
                  {{/each}}
                  </div>
                  </script>

              </div>

              <div class="col-md-6">
                <p>Next travel adventures</br>Got suggestion? Lets here em!</p>
                <form class = "form-inline" id="travelForm">
                  <div class="form-group">
                    <label for="title">City</label>
                    <input type="text" class="form-control" name="city" placeholder="City">
                  </div>
                  <div class="form-group">
                    <label for="title">Country</label>
                    <input type="text" class="form-control" name="country" placeholder="Country">
                  </div>
                  <div class="form-group">
                    <label for="title">Comment</label>
                    <textarea class="form-control" rows='3'name="comment" placeholder="Comment"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Add Adventure</button>
                </form>
              </div>
              </div><!-- row -->
        </div>




      </div>
  </body>
</html>
