<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0qm0PU9jrSdAIefpSGbDdzWRerHFry5U"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>

    <header id="top">
      <ul>
        <li class='nava'><a href="#about">About Me</a></li>
        <li class='nava'><a href="#adventure">Travels</a></li>
        <!-- <li><span class="contact_button"><a href="#contact">CONTACT</a></span></li> -->
      </ul>
      <div class="transbox">
          <p>Christine Lam</p>
          <h2>Welcome to my site!</h2>
      </div>
    </header>


      <div id="about" class="row">
        <p class="section_title">About Me</p>

        <div id="profile">
          <!-- handlebars template -->
          <script id="profile-template" type="text/x-handlebars-template">

            {{#each profile}}
            <div class="row">
              <div class="col-md-4 col-md-offset-2">
                  <img src="{{github_profile_image}}" class='img-circle profile-image'>
              </div>
              <div class="col-md-3 col-md-offset-1 info">
                <p><span class="keys"> Name: </span> {{first_name}} {{last_name}} <br>
                  <span class="keys"> Github Link: </span> <a href="{{github_link}}"> {{github_link}}</a> <br>
                  <span class="keys"> Github Profile Image: </span> See beside <br>
                  <span class="keys"> Current City: </span> {{current_city}} <br>

                  <span class="keys"> Favorite Stuffed Animals: </span>
                    {{#each stuffed_animals}}
                      <p><em><span class="keys"> Name: </em> {{name}} <br>
                        <em> <span class="keys">Type: </span> </em> {{type}} <br>
                        <em><span class="keys"> Color: </span> </em> {{color}} <br>
                      </p>
                    {{/each}}

                  <h4><a href="/api">Read My API Documentation</a></h4>
                </p>
              </div>
            </div>
            {{/each}}
          </script>
        </div>
      </div>
      <hr class="short">

      <div id="adventure" class="travel_section">
        <div class="row">
          <p class="section_title">Travel Adventures</p>
          <p id="quote"> "We travel not to escape life, but for life not to escape us.” - <em>Anonymous</em> </p>
          <div class="col-md-8 col-md-offset-2 upcoming">
            <div id="map"><h1>

              insert MAP</h1>

            </div>
          </div>
        </div>

        <div id="travels">
              <div class="row">
                <div id="test">

                    <script id="travel-template" type="text/x-handlebars-template">
                      <p class="sub_paragraph">Check out my upcoming travel adventures!</p>
                      <div class="col-md-10 upcoming">

                  {{#each travels}}
                  <ul class="travels"><li><p>
                        <span class="keys">City: </span> {{location_city}} <br>
                        <span class="keys">Country:</span> {{location_country}} <br>
                        <span class="keys">Duration: </span> {{duration}} <br>
                        <span class="keys"> Main Activities: </span> {{main_activities}}
                  </p></li></ul>
                  <button type="button" name="button" class="deleteBtn btn btn-danger pull-right deleteAd" data-id={{_id}}>Delete Adventure</button>
                  <button type="button" name="button" class="deleteBtn btn btn-danger pull-right editAd" data-id={{_id}}>Edit Adventure</button>
                  <hr class="subline">
                  {{/each}}
                  </div>
                  </script>

              </div>
            </div> <!--row -->
          </div>
<!--
            <hr class='last'> -->
            <div class="row">
              <div class="col-md-10 col-md-offset-1 upcoming">
                <p class="upcoming">Got travel suggestions? Lets here em!</p>
                <form class = "form-inline" id="travelForm">
                  <div class="form-group">
                    <label for="title">City</label>
                    <input type="text" class="form-control" name="city" placeholder="City">
                  </div>
                  <div class="form-group">
                    <label for="title">Country</label>
                    <input type="text" class="form-control" name="country" placeholder="Country">
                  </div>
                  <div class="form-group">
                    <label for="title">Duration</label>
                    <input type="text" class="form-control" name="duration" placeholder="Duration">
                  </div>
                  <div class="form-group">
                    <label for="title">Main Activities</label>
                    <input type="text" class="form-control" name="main_activities" placeholder="Main Activities">
                  </div>
                  <!-- <div class="form-group">
                    <label for="title">Main_Activities</label>
                    <textarea class="form-control" rows='3'name="comment" placeholder="Comment"></textarea>
                  </div> -->
              <div class="row">
                <div class="col-md-8 col-md-offset-2 upcoming">
                  <button type="submit" class="btn btn-default">Add Adventure</button>
                </div>
              </div>
                </form>
              </div>
            </div><!-- row -->

            <div class="bottom">
              <ul class="footer">
                  <li class="footer_line"><a href="#about">About Me</a></li>
                  <li class="footer_line"><a href="#adventure">Travels</a></li>
              </ul>
              <p style="color:#737373;padding-top: 5px;">CHRISTINE LAM | christine.lam.06@gmail.com</p>
            </div>





  </body>
</html>
