<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">


        <div id="profile">
          <!-- handlebars template -->
          <script id="profile-template" type="text/x-handlebars-template">
            {{#each profile}}
          <div class="col-md-8 col-md-offset-2">
            <h1>Christine Lam Profile
              <hr>
              <img src="{{github_profile_image}}">
            </h1>

            <p><strong> Name: </strong> {{first_name}} {{last_name}} <br>
              <strong> Github Link: </strong> <a href="{{github_link}}">{{github_link}}</a> <br>
              <strong> Github Profile: </strong> See above <br>
              <strong> Current City: </strong> {{current_city}} <br>

              {{#each stuffed_animals}}
              Stuffed Animals:
                <p>Name: {{name}} <br>
                  Type: {{type}} <br>
                  Color: {{color}} <br>
                </p>
              {{/each}}
            </p>
            <h4><a href="/api">Read My API Documentation</a></h4>
          </div>
          {{/each}}
        </script>
        </div>


      </div>
    </div>
  </body>
</html>
